@keyframes gradient-xy {
    0%,
    100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

@keyframes searchbar-slide-up {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-280px) scale(0.9);
    }
}

@utility animate-gradient {
    animation: gradient-xy 8s ease infinite;
    background-size: 200% 200%;
}

@utility animate-searchbar-up {
    animation: searchbar-slide-up 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
